<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.AgentWeeklySettleMapper">
  <resultMap id="BaseResultMap" type="com.yd.burst.model.AgentWeeklySettle">
    <id column="userId" jdbcType="VARCHAR" property="userid" />
    <id column="startDate" jdbcType="DATE" property="startdate" />
    <result column="endDate" jdbcType="DATE" property="enddate" />
    <result column="income" jdbcType="DOUBLE" property="income" />
    <result column="isSettled" jdbcType="INTEGER" property="issettled" />
    <result column="minProportion" jdbcType="DOUBLE" property="minproportion" />
    <result column="maxProportion" jdbcType="DOUBLE" property="maxproportion" />
    <result column="sumIndirectExpense" jdbcType="DOUBLE" property="sumindirectexpense" />
    <result column="sumDirectExpense" jdbcType="DOUBLE" property="sumdirectexpense" />
    <result column="sumFailTimes" jdbcType="INTEGER" property="sumfailtimes" />
    <result column="sumSuccessTimes" jdbcType="INTEGER" property="sumsuccesstimes" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, startDate, endDate, income, isSettled, minProportion, maxProportion, sumIndirectExpense, 
    sumDirectExpense, sumFailTimes, sumSuccessTimes, updateTime, updateBy
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="com.yd.burst.model.AgentWeeklySettleKey" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from bd_agent_weekly_settle-->
    <!--where userId = #{userid,jdbcType=VARCHAR}-->
      <!--and startDate = #{startdate,jdbcType=DATE}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="com.yd.burst.model.AgentWeeklySettleKey">-->
    <!--delete from bd_agent_weekly_settle-->
    <!--where userId = #{userid,jdbcType=VARCHAR}-->
      <!--and startDate = #{startdate,jdbcType=DATE}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.yd.burst.model.AgentWeeklySettle">-->
    <!--insert into bd_agent_weekly_settle (userId, startDate, endDate, -->
      <!--income, isSettled, minProportion, -->
      <!--maxProportion, sumIndirectExpense, sumDirectExpense, -->
      <!--sumFailTimes, sumSuccessTimes, updateTime, -->
      <!--updateBy)-->
    <!--values (#{userid,jdbcType=VARCHAR}, #{startdate,jdbcType=DATE}, #{enddate,jdbcType=DATE}, -->
      <!--#{income,jdbcType=DOUBLE}, #{issettled,jdbcType=INTEGER}, #{minproportion,jdbcType=DOUBLE}, -->
      <!--#{maxproportion,jdbcType=DOUBLE}, #{sumindirectexpense,jdbcType=DOUBLE}, #{sumdirectexpense,jdbcType=DOUBLE}, -->
      <!--#{sumfailtimes,jdbcType=INTEGER}, #{sumsuccesstimes,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, -->
      <!--#{updateby,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.yd.burst.model.AgentWeeklySettle">-->
    <!--insert into bd_agent_weekly_settle-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="userid != null">-->
        <!--userId,-->
      <!--</if>-->
      <!--<if test="startdate != null">-->
        <!--startDate,-->
      <!--</if>-->
      <!--<if test="enddate != null">-->
        <!--endDate,-->
      <!--</if>-->
      <!--<if test="income != null">-->
        <!--income,-->
      <!--</if>-->
      <!--<if test="issettled != null">-->
        <!--isSettled,-->
      <!--</if>-->
      <!--<if test="minproportion != null">-->
        <!--minProportion,-->
      <!--</if>-->
      <!--<if test="maxproportion != null">-->
        <!--maxProportion,-->
      <!--</if>-->
      <!--<if test="sumindirectexpense != null">-->
        <!--sumIndirectExpense,-->
      <!--</if>-->
      <!--<if test="sumdirectexpense != null">-->
        <!--sumDirectExpense,-->
      <!--</if>-->
      <!--<if test="sumfailtimes != null">-->
        <!--sumFailTimes,-->
      <!--</if>-->
      <!--<if test="sumsuccesstimes != null">-->
        <!--sumSuccessTimes,-->
      <!--</if>-->
      <!--<if test="updatetime != null">-->
        <!--updateTime,-->
      <!--</if>-->
      <!--<if test="updateby != null">-->
        <!--updateBy,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="userid != null">-->
        <!--#{userid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="startdate != null">-->
        <!--#{startdate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="enddate != null">-->
        <!--#{enddate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="income != null">-->
        <!--#{income,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="issettled != null">-->
        <!--#{issettled,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="minproportion != null">-->
        <!--#{minproportion,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="maxproportion != null">-->
        <!--#{maxproportion,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumindirectexpense != null">-->
        <!--#{sumindirectexpense,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumdirectexpense != null">-->
        <!--#{sumdirectexpense,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumfailtimes != null">-->
        <!--#{sumfailtimes,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sumsuccesstimes != null">-->
        <!--#{sumsuccesstimes,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updatetime != null">-->
        <!--#{updatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateby != null">-->
        <!--#{updateby,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.yd.burst.model.AgentWeeklySettle">-->
    <!--update bd_agent_weekly_settle-->
    <!--<set>-->
      <!--<if test="enddate != null">-->
        <!--endDate = #{enddate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="income != null">-->
        <!--income = #{income,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="issettled != null">-->
        <!--isSettled = #{issettled,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="minproportion != null">-->
        <!--minProportion = #{minproportion,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="maxproportion != null">-->
        <!--maxProportion = #{maxproportion,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumindirectexpense != null">-->
        <!--sumIndirectExpense = #{sumindirectexpense,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumdirectexpense != null">-->
        <!--sumDirectExpense = #{sumdirectexpense,jdbcType=DOUBLE},-->
      <!--</if>-->
      <!--<if test="sumfailtimes != null">-->
        <!--sumFailTimes = #{sumfailtimes,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sumsuccesstimes != null">-->
        <!--sumSuccessTimes = #{sumsuccesstimes,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updatetime != null">-->
        <!--updateTime = #{updatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateby != null">-->
        <!--updateBy = #{updateby,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where userId = #{userid,jdbcType=VARCHAR}-->
      <!--and startDate = #{startdate,jdbcType=DATE}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.yd.burst.model.AgentWeeklySettle">-->
    <!--update bd_agent_weekly_settle-->
    <!--set endDate = #{enddate,jdbcType=DATE},-->
      <!--income = #{income,jdbcType=DOUBLE},-->
      <!--isSettled = #{issettled,jdbcType=INTEGER},-->
      <!--minProportion = #{minproportion,jdbcType=DOUBLE},-->
      <!--maxProportion = #{maxproportion,jdbcType=DOUBLE},-->
      <!--sumIndirectExpense = #{sumindirectexpense,jdbcType=DOUBLE},-->
      <!--sumDirectExpense = #{sumdirectexpense,jdbcType=DOUBLE},-->
      <!--sumFailTimes = #{sumfailtimes,jdbcType=INTEGER},-->
      <!--sumSuccessTimes = #{sumsuccesstimes,jdbcType=INTEGER},-->
      <!--updateTime = #{updatetime,jdbcType=TIMESTAMP},-->
      <!--updateBy = #{updateby,jdbcType=VARCHAR}-->
    <!--where userId = #{userid,jdbcType=VARCHAR}-->
      <!--and startDate = #{startdate,jdbcType=DATE}-->
  <!--</update>-->
</mapper>