<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.BetRecordMapper">
    <resultMap id="BaseResultMap" type="com.yd.burst.model.BetRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="issue_no" jdbcType="BIGINT" property="issueNo"/>
        <result column="player_id" jdbcType="INTEGER" property="playerId"/>
        <result column="bet_amount" jdbcType="DOUBLE" property="betAmount"/>
        <result column="multiple" jdbcType="DOUBLE" property="multiple"/>
        <result column="escape_time" jdbcType="VARCHAR" property="escapeTime"/>
        <result column="escape_status" jdbcType="VARCHAR" property="escapeStatus"/>
        <result column="profit" jdbcType="DOUBLE" property="profit"/>
        <result column="bet_status" jdbcType="VARCHAR" property="betStatus"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, issue_no, player_id, bet_amount, multiple, escape_time, escape_status, profit, bet_status,
    create_time, create_by, update_time, update_by
  </sql>
    <insert id="insert" parameterType="com.yd.burst.model.BetRecord">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into bd_bet_record (issue_no, player_id, bet_amount, multiple, bet_status, create_time, create_by)
        values (
        #{issueNo,jdbcType=BIGINT}, #{playerId,jdbcType=INTEGER}, #{betAmount,jdbcType=DOUBLE},
        #{multiple,jdbcType=DOUBLE}, #{betStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR} )
    </insert>
    <select id="selectByUniqueKey" resultType="com.yd.burst.model.BetRecord"
            parameterType="com.yd.burst.model.BetRecord">
    select bet_amount, escape_time, multiple from bd_bet_record
    where issue_no = #{issueNo,jdbcType=BIGINT} and player_id = #{playerId,jdbcType=INTEGER}
  </select>

    <select id="selectByIssueNo" resultType="com.yd.burst.model.dto.GameAndPlayerDo" parameterType="java.lang.Long">
      SELECT bp.player_name, bbr.bet_amount,bbr.multiple, bbr.profit
      from bd_player bp, bd_bet_record bbr
      where bbr.player_id = bp.id
      and bbr.issue_no = #{issueNo}
  </select>

    <select id="selectByPlayerId" resultType="com.yd.burst.model.BetRecord"
            parameterType="com.yd.burst.model.BetRecord">
    select issue_no, escape_status, bet_amount, profit from bd_bet_record where player_id = #{playerId} ORDER BY issue_no DESC
  </select>

    <update id="updateByUniqueKey" parameterType="com.yd.burst.model.BetRecord">
    update bd_bet_record
    set
      multiple = #{multiple,jdbcType=DOUBLE},
      escape_time = #{escapeTime,jdbcType=VARCHAR},
      profit = #{profit,jdbcType=DOUBLE},
      escape_status = #{escapeStatus,jdbcType=VARCHAR}
    where issue_no = #{issueNo,jdbcType=BIGINT}
    and player_id = #{playerId,jdbcType=INTEGER}
  </update>

    <select id="selectTotalProfitByIssueNo" resultType="java.lang.Double" parameterType="java.lang.Long">
      select SUM(profit) from bd_bet_record where issue_no = #{issueNo}
  </select>

    <update id="updateByPlayerList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update bd_bet_record
                <trim prefix="set" suffixOverrides=",">
                    profit = #{item.profit},
                    multiple = #{item.multiple},
                    bet_status = #{item.betStatus},
                    escape_status = #{item.escapeStatus},
                    escape_time = #{item.escapteTime}
                </trim>
            where issue_no = #{item.issueNo} and player_id = #{item.id}
        </foreach>
    </update>


    <insert id="insertNextBetPlayer" parameterType="java.util.List">
        insert into bd_bet_record (issue_no, player_id, bet_amount, multiple, bet_status, create_time)
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            values (
            #{item.issueNo}, #{item.id}, #{item.capital}, #{item.multiple}, #{item.betStatus}, #{item.createTime})
        </foreach>
    </insert>
</mapper>
