<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.GameResultMapper">
  <resultMap id="BaseResultMap" type="com.yd.burst.model.GameResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="group_room_id" jdbcType="VARCHAR" property="groupRoomId" />
    <result column="group_user_id" jdbcType="VARCHAR" property="groupUserId" />
    <result column="issue" jdbcType="INTEGER" property="issue" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_code, group_room_id, group_user_id,issue,result,
    create_time, create_by, update_time, update_by
  </sql>


  <select id="load" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from q_game_result
  </select>

  <insert id="saveGameResultBatch" parameterType="java.util.List">
   insert int q_game_result(group_code,
     group_room_id,
     group_user_id,
     issue,
     result,
     create_time,
     create_by,
     update_time,
     update_by)
   values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.group_code,jdbcType=VARCHAR},
      #{item.group_room_id,jdbcType=VARCHAR},
      #{item.group_user_id,jdbcType=VARCHAR},
      #{item.issue,jdbcType=INTEGER},
      #{item.result,jdbcType=VARCHAR},
      #{item.create_time,jdbcType=DECIMAL},
      #{item.create_by,jdbcType=VARCHAR},
      #{item.update_time,jdbcType=VARCHAR},
      #{item.update_by,jdbcType=VARCHAR}
      )
    </foreach>

  </insert>

</mapper>
