<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.GroupInfoMapper">
  <resultMap id="BaseResultMap" type="com.yd.burst.model.GroupInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_head_pic" jdbcType="VARCHAR" property="groupHeadPic" />
    <result column="group_status" jdbcType="VARCHAR" property="groupStatus" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_name, group_head_pic, group_status,
    create_time, create_by, update_time, update_by
  </sql>



  <select id="load" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from q_group_info
  </select>

  <update id="deleteGroupInfoStatus" parameterType="java.lang.Integer">
    update q_group_info
    set
      group_status = "3"
       where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getGroupNameById" parameterType="java.lang.Integer" resultType="String" >
        select
            group_name
        from q_group_info
         where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>
