<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.PlayerOutPayApplyMapper">
  <resultMap id="BaseResultMap" type="com.yd.burst.model.PlayerOutPayApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bank" jdbcType="INTEGER" property="bank" />
    <result column="cardID" jdbcType="VARCHAR" property="cardid" />
    <result column="operate_time" jdbcType="VARCHAR" property="operateTime" />
    <result column="errorReason" jdbcType="VARCHAR" property="errorreason" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="opDate" jdbcType="VARCHAR" property="opdate" />
    <result column="opName" jdbcType="VARCHAR" property="opname" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="certifType" jdbcType="VARCHAR" property="certiftype" />
    <result column="certifId" jdbcType="VARCHAR" property="certifid" />
  </resultMap>

  <sql id="Base_Column_List">
    id, bank, cardID, operate_time, errorReason, money, name, opDate, opName, status,
    userId, certifType, certifId
  </sql>

  <insert id="insert" parameterType="com.yd.burst.model.PlayerOutPayApply">
      insert into bd_access2payment (bank, cardID, operate_time, money, name, opDate, opName, status, userId, certifType, certifId)
      values (#{bank, jdbcType=INTEGER}, #{cardID, jdbcType=INTEGER}, #{operate_time, jdbcType=VARCHAR},
      #{money, jdbcType=DOUBLE}, #{name, jdbcType=VARCHAR}, #{opdate, jdbcType=VARCHAR},
      #{opname, jdbcType=VARCHAR}, #{status, jdbcType=INTEGER}, #{userId, jdbcType=VARCHAR},
      #{certiftype, jdbcType=VARCHAR}, #{certifid, jdbcType=VARCHAR})
  </insert>
</mapper>
