<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.burst.dao.WalletMapper">

  <resultMap id="BaseResultMap" type="com.yd.burst.model.Wallet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="avail_money" jdbcType="DOUBLE" property="availMoney" />
    <result column="lock_money" jdbcType="DOUBLE" property="lockMoney" />
    <result column="total_money" jdbcType="DOUBLE" property="totalMoney" />
    <result column="player_id" jdbcType="INTEGER" property="playerId" />
    <result column="freezeMoney" jdbcType="DOUBLE" property="freezemoney" />
    <result column="overdraft" jdbcType="DOUBLE" property="overdraft" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, avail_money, lock_money, total_money, player_id, freezeMoney, overdraft, create_time,
    create_by, update_time, update_by
  </sql>
  <select id="selectByPlayerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bd_wallet
    where player_id = #{playerId}
  </select>
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from bd_wallet-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.yd.burst.model.Wallet">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bd_wallet (avail_money, lock_money, total_money, player_id, freezeMoney, overdraft,
        create_time, create_by, update_time, update_by)
    values (0, 0, 0, #{playerId,jdbcType=INTEGER}, 0, 0, #{createTime,jdbcType=VARCHAR},
        #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateByList" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update bd_wallet
      <trim prefix="set" suffixOverrides=",">
        avail_money = avail_money + #{item.profit},
        total_money = total_money + #{item.profit},
        update_time = #{item.escapteTime}
      </trim>
      where player_id = #{item.id}
    </foreach>
  </update>

  <update id="updateAmount" parameterType="com.yd.burst.model.Wallet">
      update bd_wallet set
        avail_money = #{availMoney, jdbcType=DOUBLE},
        total_money = #{totalMoney, jdbcType=DOUBLE},
        update_time = #{updateTime,jdbcType=VARCHAR}
      where player_id = #{playerId,jdbcType=INTEGER}
  </update>

</mapper>
